.input{
    width: 2.87rem;
    height: 2.87rem;

    background-color: #ebebfc;
    border: 2px solid #6363db;
    border-radius: .43rem;

    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: #6363db;

    outline-color: #03ab4f;
}