.lettersUsed {
  width: 100%;
  margin-top: 3.25rem;
  border-top: 1px solid #c3c3c3;
}

.lettersUsed h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #32325f;

  margin: .75rem 0;
}

.lettersUsed > div {
  display: flex;
  gap: .75rem;
  flex-wrap: wrap;
}