.letter{
  width: 3.37rem;
  height: 3.37rem;
  border: .62rem;
  border-radius: .43rem;

  background-color: #ebebfc;
  color: #6363db;

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterSmall {
  width: 2.75rem;
  height: 2.75rem;

  border-radius: .43rem;
  border: 1px solid #6363db;

  font-size: 1.25rem;
  font-weight: 500;
}

.letterCorrect {
  background-color: #e1f5ec;
  border-color: #03ab4f;
  color: #03ab4f;
}

.letterWrong {
  background-color: #ffcf62;
  border-color: #691b0a;
  color: #691b0a;
}