.container {
  width: 100%;
  height: 100%;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container main{
  width: 556px;
  padding: 2rem;
  padding-top: 4.5rem;

  background-color: #ffffff;
  border-radius: .75rem 0;
  box-shadow: 0px 0px 30px 5px rgba(99, 99, 219, 0.4);
}

.container .word{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2.5rem 0;
}

.guess {
  display: flex;
  gap: .75rem;
  margin-top: .75rem;
}